services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: croco
      POSTGRES_PASSWORD: croco
      POSTGRES_DB: croco
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio:/data
volumes:
  pgdata: {}
  minio: {}
